<!-- <div class="container2">
  <section>
    <label class="filter1">Usage:</label>
    <select>
      <option value="a">2000kWh</option>
      <option value="b">p2</option>
      <option value="c">p1</option>
    </select>
  </section>
  <section>
    <label class="filter2">Term Length:</label>
    <select>
      <option value="a">36 months</option>
      <option value="b">p1</option>
      <option value="c">p1</option>
    </select>
  </section>
  <section>
    <label class="filter3">Plan Type:</label>
    <select>
      <option value="a">Fixed</option>
      <option value="b">p1</option>
      <option value="c">p1</option>
    </select>
  </section>
  <section id="section_last">
    <label class="filter3">Sort By:</label>
    <select>
      <option value="a">popular</option>
      <option value="b">p1</option>
      <option value="c">p1</option>
    </select>
  </section>

</div> -->

<!--
<div class="filter_sorting">
  <div class="left_filter">
      <form action="/action_page.php">
          <div class="sorting_div_left_section">
              <label for="cars">Filter</label>

              <div class="filter_option1">
                  <label for="usage">Usage:</label>
                  <select name="usage" id="usage">
                      <option value="2000kWh">2000 kWh</option>
                      <option value="3000kWh">3000 kWh</option>
                      <option value="4000kWh">4000 kWh</option>
                  </select>
              </div>

              <div class="filter_option2">
                  <label for="term">Term Length:</label>
                  <select name="term" id="term">
                      <option value="36Months">36 Months</option>
                      <option value="46Months">46 Months</option>
                      <option value="56Months">56 Months</option>
                  </select>
              </div>

              <div class="filter_option3">
                  <label for="planType">Plan Type:</label>
                  <select name="planType" id="planType">
                      <option value="fixed">Fixed</option>
                  </select>
              </div>

              <div class="filter_option4">
                  <label for="planType">Sort By:</label>
                  <select name="planType" id="planType">
                      <option value="mostPopular">Most Popular</option>
                      <option value="leastPopular">Least Popular</option>
                  </select>
              </div>


          </div>
      </form>
  </div>
  <div class="right_filter">
      <div class="filter_option5">
          <label for="sortBy">Sort By:</label>
          <select name="sortBy" id="sortBy">
              <option value="mostPopular">Most Popular</option>
              <option value="leastPopular">Least Popular</option>
          </select>
      </div>
  </div>
</div> -->



<div class="container2">
  <div class="filter" >Filter</div>
  <div class="left-filters">

    <section>
      <label for="usage-" class="filter1-">Usage:</label>
      <select id="usage">
        <option value="a">2000kWh</option>
        <option value="b">p2</option>
        <option value="c">p1</option>
      </select>
    </section>

    <section>
      <label for="term-length" class="filter2">Term Length:</label>
      <select id="term-length">
        <option value="a">36 months</option>
        <option value="b">p1</option>
        <option value="c">p1</option>
      </select>
    </section>

    <section>
      <label for="plan-type" class="filter3">Plan Type:</label>
      <select id="plan-type">
        <option value="a">Fixed</option>
        <option value="b">p1</option>
        <option value="c">p1</option>
      </select>
    </section>
  </div>

  <section id="section_last">
    <label for="sort-by" class="filter3">Sort By:</label>
    <select id="sort-by">
      <option value="a">popular</option>
      <option value="b">p1</option>
      <option value="c">p1</option>
    </select>
  </section>
</div>
