<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="styles.css" /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- class="main" -->
    <div>
      <img src="../../assets/top_img.png" id="imgtop" alt="Product" />
      <div class="container1">
        <div class="container1_plan"><h3>Your Plan Result</h3></div>
        <div class="plans">
          <div class="plan_part1 all123">
            <p>Zip Code:</p>
            <h3>1234</h3>
          </div>
          <div class="plan_part2 all123">
            <p>Commodity Type:</p>
            <p><b>Electricity</b></p>
          </div>
          <div class="plan_part3 all123">
            <p>Utility Provider:</p>
            <p><b>Central Hudson</b></p>
          </div>
          <div class="plan_part4">
            <img
              src="https://img.icons8.com/?size=100&id=YZPDuUmATqRq&format=png&color=000000"
              id="img"
              alt="Edit"
            />
            <b style="color: black">Edit Plan</b>
          </div>
          <div class="plan_part5">
            <input placeholder="Promo code" id="placeholder" />
            <button class="placeholder_btn"><b>Apply</b></button>
          </div>
        </div>
      </div>


      <!-- class="cary_box" -->
      <div >
        <!-- class="container2" -->
        <!-- <div>
          <section>
            <label class="filter1">Usage:</label>
            <select>
              <option value="a">2000kWh</option>
              <option value="b">p2</option>
              <option value="c">p1</option>
            </select>
          </section>
          <section>
            <label class="filter2">Term Length:</label>
            <select>
              <option value="a">36 months</option>
              <option value="b">p1</option>
              <option value="c">p1</option>
            </select>
          </section>
          <section>
            <label class="filter3">Plan Type:</label>
            <select>
              <option value="a">Fixed</option>
              <option value="b">p1</option>
              <option value="c">p1</option>
            </select>
          </section>
          <section id="section_last">
            <label class="filter3">Sort By:</label>
            <select>
              <option value="a">popular</option>
              <option value="b">p1</option>
              <option value="c">p1</option>
            </select>
          </section>
        </div> -->

        <div class="container3">
          <div class="container3_div1">
            <div class="container3_box1">
              <img
                src="../../assets/product_image.png"
                id="logo"
                alt="Product"
              />
              <div
                class="xx"
                style="
                  align-items: center;
                  justify-content: center;
                  display: flex;
                "
              >
                <div class="plan-document-details" style="display: none">
                  <p>
                    This is the description of the plan document. It contains
                    important information about the energy plan.
                  </p>
                </div>
                <span style="color: blue"
                  >Plan Document<i class="fa-solid fa-chevron-down"></i
                ></span>
              </div>
            </div>
            <div class="container3_box2">
              <div class="cgi">
                CGI Energy
                <img src="assets/offer.png" alt="" class="imgoffer" />
              </div>
              <h2>36 Month Home Power Plan</h2>
              <p>
                Enjoy a 36-month fixed rate for your home's energy usage and get
                FREE energy for your EV at night, every night!
              </p>
              <table>
                <tr>
                  <td id="td1">Term: <b>36 Month</b></td>
                  <td id="td1">Base Charge: <b>$0</b></td>
                </tr>
                <tr>
                  <td id="td1">Rate Type: <b>Fixed</b></td>
                  <td id="td1">Early Termination Fee: <b>$149</b></td>
                </tr>
              </table>
            </div>
            <div class="container3_box3">
              <div class="signUp">
                <h1 style="color: blue">79¢ per kWh</h1>
                <p>Price based on 2000 kWh usage</p>
                <button id="signUpbtn"><b>Sign Up</b></button>
                <h3>.</h3>
                <i class="fa-solid fa-phone"> <b>12345678910</b></i>
              </div>
            </div>
          </div>
          <hr />
          <div class="container3_div2">
            <div class="lvl plan-document">
              <span><i class="fa-solid fa-file-pdf"></i></span>
              <p class="pdfbill">Electricity Fact Label</p>
              <span><i class="fa-solid fa-download"></i></span>
            </div>
            <div class="lvl">
              <span><i class="fa-solid fa-file-pdf"></i></span>
              <p class="pdfbill">Your Customer Rights</p>
              <span><i class="fa-solid fa-download"></i></span>
            </div>
            <div class="lvl">
              <span><i class="fa-solid fa-file-pdf"></i></span>
              <p class="pdfbill">offer Sheet</p>
              <span><i class="fa-solid fa-download"></i></span>
            </div>
            <div class="lvl">
              <span><i class="fa-solid fa-file-pdf"></i></span>
              <p class="pdfbill">Terms & Conditions</p>
              <span><i class="fa-solid fa-download"></i></span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
