@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button>  <a href="https://localhost:7125/User/Register">REGS</a> </button>
    <button>  <a href="https://localhost:7125/User/login">LOGIN</a> </button>
    <button>
        <a href="https://localhost:7125/User/ViewUsers">VIEW</a>
    </button>
    <button href="https://localhost:7125/User/logout">LogOut</button>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>